# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
build/
dist/
*.egg

# Virtual envs
.venv/
venv/
env/

# Jupyter / notebooks
.ipynb_checkpoints/
*.nbconvert.ipynb

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Project-specific outputs
outputs/
runs/
optuna.db
data/
